/* Accent teal : 24B1B1
   Accent Magenta : ff00ff
   Accent Yellow : FEEC41
*/

html {
  scrollbar-gutter: stable both-edges;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #081c15 no-repeat center/cover;
  font-family: "Oswald", sans-serif;
}

#bg-pattern {
  position: fixed;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  z-index: -1;
  background-color: #f4f1de;
  background-image:
    linear-gradient(rgba(64, 145, 108, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(64, 145, 108, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
  will-change: transform;
  transition: transform 0.1s ease-out;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: transparent;
  align-items: center;
  justify-content: center;
}

.nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 40vw;
}

.nav-items {
  flex: 1;
  background-color: #f4f1de;
  border-radius: 7px;
  width: max-content;
  border: 2px solid black;
  transition: all 0.2s ease;
  filter: drop-shadow(2px 2px 0px black);
}

.nav-items:hover {
  filter: drop-shadow(0px 0px 0px black);
  transform: translateX(3px);
  transform: translate(3px);
}
.nav-center a {
  display: block;
  text-decoration: none;
  color: black;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
  padding: 5px;
  transition: all 0.1s;
}

.nav-center a:hover {
  background: repeating-linear-gradient(
    45deg,
    rgba(244, 241, 222, 0.3),
    rgba(244, 241, 222, 0.3) 2px,
    transparent 2px,
    transparent 5px
  );
  color: #f4f1de;
  background-color: black;
}

.grid-container {
  position: relative;
  display: grid;
  max-width: 80vw;
  margin: 60px auto;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(4, 13vh);
  gap: 50px;
}

.card {
  border-radius: 40px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-box {
  background-color: #f4f1de;
  grid-column: 1 / 10;
  grid-row: 1 / 4;
  filter: drop-shadow(10px 10px 0px #000);
  border-radius: 20px;
  border: 3px solid black;
  z-index: 0;
  font-size: 1.5rem;
  color: black;
}

.hero-name {
  font-weight: bold;
}

.photo-box {
  position: relative;
  grid-column: 7 / 12;
  grid-row: 1 / 4;
  background-color: #24b1b1;
  padding: 0;
  overflow: hidden;
  filter: drop-shadow(10px 10px 0px #000);
  z-index: 20;
  border: 3px solid black;
}

.profile-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(20px 20px 0px black);
}

.social-bento-item {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 4 / 5;
  z-index: 30;
}

.linkedin {
  grid-column-start: 2;
  grid-column-end: 5;
}
.gmail {
  grid-column-start: 5;
  grid-column-end: 8;
}
.instagram {
  grid-column-start: 8;
  grid-column-end: 11;
}

.social-card {
  width: 100%;
  background-color: #52b788;
  padding: 5px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 2px solid #1b4332;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  filter: drop-shadow(8px 8px 0px #000);
}

.social-card img {
  height: 35px;
  width: auto;
  transition: transform 0.3s ease;
}

/* Interactive States for Social Buttons */
.social-card:hover {
  transform: translate(4px, 4px);
  filter: drop-shadow(0px 0px 0px #000);
  background-color: #d8f3dc;
}

/* ==========================================================================
   ABOUT ME SECTION
   ========================================================================== */
.about-bento {
  display: grid;
  max-width: 80vw;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 90px);
  position: relative;
  margin: 25vh auto;
}

.about-center {
  background-color: #708993;
  text-align: center;
  grid-column: span 10;
  grid-row: 1 / 2;
  border-radius: 40px;
  padding: 30px;
  font-size: 1.3rem;
  filter: drop-shadow(20px 20px 0px #000);
}

.about-me-para {
  background-color: #708993;
  position: relative;
  grid-column: span 10;
  grid-row: 3 / 6;
  text-align: center;
  padding: 30px;
  border-radius: 40px;
  line-height: 1.6;
}
